@charset 'utf-8'
@import normalize
@import bourbon
@import base/base
@import neat

@import header

body
  background: #ECC561
  text-align: center
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1em

h1
  color: rgba(0,0,0,0.5)
  font-size: 1.8em
  font-weight: 400
  margin: 0
