@charset 'utf-8'
@import normalize
@import bourbon
@import base/base
@import neat

@import header

body
  text-align: center
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 1em

.container
  +outer-container(100%)
  +pad
  width: 1200px
  margin: 0 auto

img
  max-width: 100%
  max-height: 100%

h1
  font-size: 2.8em
  font-weight: 400
  margin: 0

p
  max-width: 50rem
  margin: 0 auto 0.75em

.desc
  text-transform: uppercase
  color: #777

.artist-block
  +pad

section
  +outer-container(100%)
  background-color: rgba(105, 105, 105, .1)
.white
  background-color: white

.section-header
  +pad

h2
  font-size: 2rem
  margin-bottom: 0

.series-block
  float: left
  width: (100% / 3)

.series-image
  +pad
  height: 30rem

.image-holder--grey
  background-color: rgba(105, 105, 105, .1)

.text
  +pad

.image-block
  display: flex
  width: 100%
  height: 25rem
  text-align: left

  .image
    width: 50%
    height: 100%

    &.full-width img
      width: 100%

  .text
    width: 50%
    height: 100%

.image-block--footer

  .image
    text-align: right
  .text
    max-width: 35rem

.text-holder
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  transform: translateY(-50%)
  position: relative
  top: 50%

section.blue
  background-color: rgba(15, 220, 212, .2)

.image-block-single
  text-align: center

  .image
    width: 100%

    img
      margin: 0 auto

footer
  background: #CDAF95

.container.footer
  padding: 5rem 2.35765%
